[Desktop Entry]
Name=Beecider
Exec=/home/zsandark/_DEV/Scripts_L/I_aM_D_bee/I_aM_D_bee_SH.sh
Type=Application
Icon=/home/zsandark/Applications/icoNs/bee2.png
Terminal=true
Name[en_GB]=I aM D bee
