- In Progress -

---------------------------
--- Python and Mondules ---
---------------------------

1. Python 3
- in the installation, click on the checkbox: add to path
- https://www.python.org/


3. Selenium
- Win: py -m pip install selenium


4. Openpyxl
- Win: py -m pip install openpyxl



--------------
--- Others ---
--------------

5. Google Chrome
- https://www.google.co.uk/chrome/


6. Selenium WebDriver
- you will be able to add the location of the chromedriver.exe once you started the program (when the UI is ready)
- https://sites.google.com/chromium.org/driver/


7. Movies_New_Record Excel sheet - attached in the docs folder
- the excel sheet we are going to save the collected data, should not contain pictures (openpyxl module removes the pictures from the sheet)
- with no merged cells for the Directors, Stars values (where we can write more data in one column)
- you will be able to add the location of the sheet once you started the program (when the UI is ready)