---------------------------
--- Python and Mondules ---
---------------------------

1. Python 3
- in the installation, click on the checkbox: add to path
- https://www.python.org/


3. Selenium
- Win: py -m pip install selenium


4. Openpyxl
- Win: py -m pip install openpyxl



--------------
--- Others ---
--------------

5. Google Chrome
- https://www.google.co.uk/chrome/


6. Selenium WebDriver
- you will be able to add the location of the chromedriver.exe via UI once you start the program
- https://sites.google.com/chromium.org/driver/


7. Excel sheet
- Movies_New_Record Excel sheet, attached in the docs folder
- you will be able to add the location of the sheet via UI once you start the program
- any excel app installed on your system (MS Excel, LibreOffice Calc..)
- in the excel sheet we are going to save the collected data
- if you are using your own sheet:
- + it should not contain pictures (openpyxl module removes the pictures from the sheet)
- + with no merged cells for the Directors, Stars values (where we can write more data in one column)